$font-size-small: 1.29rem;
$font-size-medium: 1.7rem;
$primary-color: #005BBB;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
  scroll-behavior: smooth;
}

.header__container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1;
}
.header {
  background-color: #ffff;
  padding-top: 1rem;
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__banner {
    height: 100%;
    text-decoration: none;
    padding: 1rem 1rem;
    margin-left: 8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }
  &__logo {
    width: 5.7rem;
  }
  &__caption {
    font-size: 1rem;
    margin-left: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: $primary-color;
  }
  &__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    &-link {
      cursor: pointer;
      margin-left: 4rem;
      text-decoration: none;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      color: #0D0D0D;
    }
  }
  &__contacts-container {
    height: 100%;
    padding: 1.2rem 0 1rem 0;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #0D0D0D;
    font-weight: 600;
    line-height: $font-size-medium;
    font-size: $font-size-small;
    text-decoration: none;
  }
  &__contacts {
    &-lang {
      margin-right: 8vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }
  }
  &__border {
    background-color: $primary-color;
    height: 0.4rem;
    margin-top: 0.14rem;
    border-radius: 0.3rem;
  }
  &__lang {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #0D0D0D;
    font-weight: 600;
    font-size: $font-size-small;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    &-selected {  
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 4rem;
      line-height: $font-size-medium;
      & img {
        display: block;
        width: $font-size-medium;
        height: 1rem;
      }
      
    }
    &-list{
      background-color: transparent;
      width: 4rem;
      position: absolute;
      top: $font-size-medium;
      left: 0;
      list-style: none;
      display: none;
    }
    &-link {
      height: $font-size-medium;
      margin-top: 0.5rem;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      color: #0D0D0D;
      font-weight: 600;
      line-height: $font-size-medium;
      font-size: $font-size-small;
      text-decoration: none;
      &:hover {
        border-bottom: 0.2rem solid $primary-color;
      }
    }
    &:hover .header__lang-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__sidebar-btn {
    display: none;
    width: 2.4rem;
    height: 2.4rem;
  }
  &__sidebar__img {
    transition: 0.1s ease-in-out;
    width: 1.8rem;
    &-active {
      width: 2.2rem;
    }
  }
  &__sidebar {
      width: 100%;
      height: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: #ffff;
      overflow-y: hidden;
      transition: .3s ease-in-out;
      &__active {
        height: 15rem;
      }
      &-link{
        padding: 1.1rem 0 1rem 6rem;
        border-bottom: 0.25rem solid #D1E1F3;
        display: block;
        width: 100%;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        color: #0D0D0D;
        transition: padding-left .5s ease-in-out;
        &:hover {
          background-color: #D1E1F3;
        }
      }
  }
}


.team {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 10rem;
  &__header {
    padding-left: 5vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: $font-size-medium;
    color: #000000;
  }
  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__row {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  &__card {
    &-container {
      margin-top: 7.3rem;
      margin-left: 1rem;
      width: 38.4rem;
    }
    width: 100%;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    background: #FFFFFF;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.05);
    border: 3px solid transparent;
    border-radius: 0.57rem;
    transition: .3s ease-in-out;
    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
  }
  &__avatar-cv {
    display: flex;
    flex-direction: column;
  }
  &__avatar {
    width: 13.36rem;
    height: 13.36rem;
    border-radius: 100%;
  }
  &__cv {
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    padding-top: 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-small;
    color: $primary-color;
  }
  &__frame {
    padding-top: 2.9rem;
    margin-left: 2.5rem;
    width: 20.15rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-medium;
    color: #000000;
    padding-bottom: 1.1rem;
  }
  &__position {
    background: $primary-color;
    border-radius: 4.4rem;
    padding: 0.64rem 1rem;

    &-content {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size-small;
      color: #FFFFFF;
    }
  }
  &__skills {
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: $font-size-small;
    color: #000000;
    padding: 1.1rem 0;
    & li {
      padding: 0.2rem;
      &:before {
        content: "- ";
      }
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  &__header {
    padding-left: 5vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: $font-size-medium;
    color: #000000;
    
  }
  &__article {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
  }
  &__card { 
    &-container {
      margin-top: 7.3rem;
      margin-left: 1rem;
      margin-right: 1rem;
      width: 33.33333%;
    }
    height: 100%;
    width: 100%;
    padding: 4.8rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;  
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 0.57rem;
    border: 3px solid transparent;
    transition: .3s ease-in-out;
        &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
  }
  &__logo {
    width: auto;
    height: 7vw;
  }
  &__frame {
    padding-top: 5.32rem;
    height: 100%;
    width: 90%;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-items: baseline;
  }
  &__name {
    padding-bottom: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-small;
    color: #0D0D0D;
  }
  &__content {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    &-list {
      list-style: "-   ";
      padding-left: 1rem;
      & li {
        list-style-position: outside;
        line-height: 2rem;
      }
    }
    &-about-header {
      width: 100%;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  &__btn {
    text-align: center;
    text-decoration: none;
    margin-top: auto;
    padding: 1rem 1.5rem;
    width: 12.7rem;
    align-self: center;
    background-color: #FFFFFF;
    padding-top: 1rem;
    cursor: pointer;
    border: 0.2rem solid $primary-color;
    border-radius: 0.57rem;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    color: $primary-color;
    transition: .3s ease-in-out;
    &:hover {
        background-color:$primary-color;
        color: #FFFFFF;
    }
  }
}
.footer {
  padding-top:3.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid #d7d7d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-networks {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__networks {
    display: flex;
    flex-direction: column;
  }
  &__banner {
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }
  &__logo {
    width: 5.7rem;
  }
  &__caption {
    font-size: 1rem;
    margin-left: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: $primary-color;
  }
  &__info {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    &-content {
      padding-bottom: 2.2rem;
    }
  }
  &__contacts-adr {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-header {
      padding: 2rem 0 1.5rem 0;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.4rem;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }
  }
  &__contacts {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__link {
    text-align: left;
    padding-bottom: 1rem;
    text-decoration: none;
    color: #000000;
  }
  &__copyright {
    align-self: flex-start;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .projects {
    &__article {
      flex-direction: column;
      align-items: center;
    }
    &__card-container {
      width: 100%;
    }
    &__logo {
      width: auto;
      height: 8.55rem;
    }
    &__frame {
      width: 80%;
      align-items: center;
    }
    &__name {
      font-size: 2rem;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
      line-height: 2.25rem;
      text-align: center;
      &-about-header{
        margin-top: 3rem;
        margin-bottom: 2rem;
      } 
      & ul {
        text-align: left;
        margin: 0 auto;
      }
    }
  }  
}
@media screen and (max-width: 992px) {
  html {
    font-size: 18px;
  }
  .header {
    &__banner {
      margin-left: 3rem;
    }
    &__contacts-container {
      display: none;
    }
    &__nav {
      display: none;
    }
    &__contacts-lang {
      margin-right: 4rem;
    }
    &__lang {
      margin-right: 3rem;
    }
    &__sidebar-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-width: 0;
      background-color: transparent;
    }
  }
  .team {
      &__row {
          flex-direction: column;
          justify-content: space-between;
      }
      &__card {
        padding-top: 9rem;
        justify-content: space-around;
      }
      &__frame {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
  }
  .projects__frame {
    width: 70vw;
  }
  .footer {
    &__container-networks {
      flex-direction: column;
      align-items: center;
    }
    &__contacts-adr {
      align-items: center;
    }
    &__contacts {
      flex-direction: row;
      white-space: pre;
    }
    &__copyright {
      margin-top: 2rem;
      align-self: center;
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .team {
    &__row {
          flex-direction: column;
    }
    &__card {
      padding-top: 3rem;
      justify-content: space-around;
    }
    &__frame {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  .projects__frame {
    align-items: flex-start;
  }
  .projects__content {
    text-align: left;
    &-about-header {
      text-align: left;
    }
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .header {
    &__banner {
    margin-left: 8vw;
    }
    &__contacts-container {
      display: none;
    }
   &__contacts-lang {
     margin-right: 8vw;
   }
  }
  .team {
    &__row {
          flex-direction: column;
    }
    &__card {
      padding-top: 4rem;
      justify-content: space-around;
    }
    &__frame {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 9px;
  }
  .team {
    &__row {
      flex-direction: column;
    }
    &__card {
      padding-top: 3rem;
      justify-content: space-around;
    }
    &__frame {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 7px;
  }
}