$font-size-small: 1.29rem;
$font-size-medium: 1.7rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}

.header {
  padding: 1.5vh 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__banner {
    padding: 1vh 0 1vh 11vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__logo {
    width: 5.7rem;
  }
  &__caption {
    font-size: 1rem;
    margin-left: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #005BBB;
  }
  &__contacts-lang {
    padding: 1vh 11vw 1vh 0;
    display: flex;
    flex-direction: column;
  }
  &__contacts {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #0D0D0D;
    font-weight: 600;
    font-size: $font-size-small;
    text-decoration: none;
  }
  &__border {
    background-color: #005BBB;
    height: 0.4rem;
    margin-top: 0.14rem;
    border-radius: 0.3rem;
  }
}

.team {
  display: flex;
  flex-direction: column;
  padding-top: 7vh;
  &__header {
    padding-left: 5vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: $font-size-medium;
    color: #000000;
  }
  &__article {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__card {
    padding-top: 7.3vh;
    width: 648px;
    display: flex;
    flex-direction: row;
  }
  &__avatar-cv {
  display: flex;
  flex-direction: column;
}
  &__avatar {
    width: 13.36rem;
    height: 13.36rem;
    border-radius: 100%;
  }
  &__cv {
    background-color: transparent;
    padding-top: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-small;
    color: #005BBB;
  }
  &__frame {
    padding-top: 2.9rem;
    padding-left: 2.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__name {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: $font-size-medium;
    color: #000000;
    padding-bottom: 1.1rem;
  }
  &__position {
    background: #005BBB;
    border-radius: 78px;
    padding: 0.64rem 1rem;

    &-content {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: $font-size-small;
      color: #FFFFFF;
    }
  }
  &__skills {
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: $font-size-small;
    color: #000000;
    padding: 1.1rem 0;
    & li {
      &:before {
        content: "- ";
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 14px;
  }
  .team__card {
    width: 504px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .team__card {
    width: 432px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 18px;
  }
  .team {
    padding-top: 3vh;
      &__card {
        padding-top: 9vh;
        width: 648px;
        justify-content: space-between;
      }
      &__row {
            flex-direction: column;
            align-self: center;
      }
      &__frame {
        padding: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .team {
    &__card {
      padding-top: 4vh;
      width: 504px;
      justify-content: space-between;
    }
    &__row {
          flex-direction: column;
          align-self: center;
    }
    &__frame {
      padding: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .team {
    &__card {
      padding-top: 5vh;
      width: 432px;
      justify-content: space-around;
    }
    &__row {
          flex-direction: column;
          align-self: center;
    }
    &__frame {
      padding: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 8px;
  }
  .team {
    &__card {
      padding-top: 5vh;
      width: 310px;
      justify-content: space-between;
    }
    &__row {
          flex-direction: column;
          align-self: center;
    }
    &__frame {
      padding: 0;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}