.modal {
    &__content {
        min-height: 100px;
        min-width: 100px;
        background-color: white;
        border-radius: 5px;
    }

    &__outlet {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        pointer-events: none;
        display: flex;
        display: flex;
        justify-content: center;
         align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        transition: all 0.3s ease-in-out;
        &_active {
            visibility: visible;
            opacity: 1;
            z-index: 1;
            pointer-events: inherit;
        }
    }


}