$border-radius: 8px;

.list {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid green;
    padding: 1rem;
    border-radius:$border-radius;
    &__form {
        border-bottom: 1px solid grey;
        padding: 1rem 0;
    }

    &__input {
        width: 100%;
        font-size: 1rem;
        padding: 1rem;
        border-radius: $border-radius;
        border: none;
        background: rgba(0,0,0,.1);
        outline: none;
        border: 1px solid rgba(0,0,0,.1);
        &:focus {
            border-color: blue;
        }
    }
    &__item {
        border-bottom: 1px solid grey;
        padding: 1rem;
    }

}